.header-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header-card {
  background: #459e97;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px 30px;
  z-index: 2;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-text {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.header-title {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
}

.header-subtitle {
  font-size: 14px;
  color: #e0f7fa;
}

.reload-section {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.reload-icon {
  color: #ffffff;
  margin-right: 5px;
}

.reload-text {
  color: #ffffff;
  font-size: 14px;
}

.background-card {
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1;
}
