#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-container {
  display: flex;
  height: auto;
}

.main-area {
  flex: 1;
  display: flex;
  flex-direction: column;
}
